nav {

  background-image: linear-gradient(to top, rgba(26,26,26,0), rgba(26,26,26,1),rgba(26,26,26,1),rgba(26,26,26,1));

  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;



  .logo
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    position: relative;
    top: 25px;

    padding-right: 60px;
  }

  .show-menu
  {
    display: none;
  }

  .menu
  {
    margin:0 auto;
    padding-top: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  ul
  {
    margin-top: 40px;
    padding: 0;


    display: flex;
    list-style: none;
    justify-content: space-between;

   nav li
   {
      justify-content: space-between;
   }
  }

  div.menu-last
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-content: center;
  }

  .menu-last a
  {
    padding: 0 20px;
  }

  img
  {
    height: 194px;
    width: 363px;
  }

  button
  {
    margin-top: 10px;
    width: 200px;
    height: 60px;
    font-size: $fz-h3;


  }

  .menu li
  {
    padding-right: 50px;
  }
}


