.hero {
  max-width: 100%;

  background-image: url("/images/desktop/hero.png");
  background-size: cover;

  .info-hero {

    max-width: 100%;

    //border:$jaune solid 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 1055px;

    h1 {

      text-align: center;
      margin-bottom: 0;
    }
    h2 {
      text-align: right;
      justify-content: flex-start;

    }
  }

}

@media screen and (max-width: $vw-large) {

  .hero {

    margin-top: 90px;

    .info-hero {
      height: 850px;
      h1 {
        font-size: $fz-h1tablette;
      }
      h2 {
        font-size: $fz-h2tablette;
      }

    }

  }
}

@media screen and (max-width: $vw-small) {
  .hero {

    margin-top: 0px;
    .info-hero {
      height: 250px;
      h1 {
        font-size: $fz-h1mobile;
      }
      h2 {
        font-size: $fz-h2mobile;
      }

    }

  }
}




