.livraison{
  margin-top:75px;
}



@media screen and (max-width: $vw-large) {
  .livraison{
    margin-top:50px;
  }

}

@media screen and (max-width: $vw-small) {
  .livraison{
    margin-top:25px;
  }

}