

.info-hero-carrieres
{
  max-width: 100%;

  background: url("/images/desktop/cartecarrieres.png");
  background-size: cover;
}

// SECTIONS TEXTE ------------------------------------
.section-texte
{
  margin: 100px auto;
  width: 1200px;

  display: flex;
  flex-direction: column;
}


.textes-dessous-hero
{
  text-align: center;
  line-height: 2;

  font-family: $ff-cartep;
  font-size: $fz-p;
}


// BOUTONS ------------------------------------
.flex-boutons
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boutons
{
  margin: 100px 0;

}

.boutons a
{
  background: $gris;
  border: $jaune 2px solid;

  padding: 20px 50px;
  font-size: $fz-h4;

  color: $white;
}

// LES CARTES ------------------------------------

.section-titre
{
  text-align: center;

}

.cartes-carrieres
{

}

.carte-emploi
{
  display: flex;
}

.carte-texte
{
  justify-content: center;
}

// DISTINGUE ------------------------------------
.distingue
{

}

// SAVOIR ------------------------------------
.savoir
{
  margin: 200px 0;
}

.section-savoir
{
  display: flex;
  justify-content: center;
}

.savoir-bloc
{
  text-align: center;

  margin: 0 30px;
  width: 500px;

  font-size: $fz-h5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.savoir-bloc p
{
  font-family: $ff-cartep;
  font-size: $fz-p;
}

// IMG ---------
.img-savoir
{
  width: 100px;
  height: 100px;
}

.img-stat
{
  background: url("/images/desktop/stats.png");
  background-size: cover;
}

.img-perso
{
  background: url("/images/desktop/personne.png");
  background-size: cover;
}

.img-pouce
{
  background: url("/images/desktop/pouce.png");
  background-size: cover;
}
