.infolettre-wrap {
  width: $med-width;
  margin: 0 auto;
}

.infolettre {

  width: 100%;
  margin: 75px auto;
  padding: 50px;
  background-color: $jaune;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .infolettre-logo {
    img {
      //margin: 35px;
    }
  }

  .infolettre-texte {
    //margin: 35px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
    }
    p {
      font-size: $fz-p;
      color: $gris;
      margin: 0;
    }

    .infolettre-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      margin: 0;

      button {
        height: 50px;
      }

    }

  }
}

@media screen and (max-width: $vw-large) {

  .infolettre-wrap {
    margin-top: 50px;
    width: 100%;
  }

}

@media screen and (max-width: $vw-small) {
  .infolettre-wrap {
    margin-top: 25px;
    width: 100%;

    .infolettre {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;



      h2 {
        font-size: $fz-h2mobile;
      }
      p {
        font-size: $fz-pmobilelettre;
      }
      .infolettre-logo{
        img{
          display:none;
        }
      }
      .infolettre-texte{
        height:125px;
      }
    }
  }

}
