.texte-covid{


  background-image: url("/images/desktop/imagesectioncovid.png");
  height: 330px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;


}


.bouton{

  padding: 10px;
  font-size: 48px;
  width: 545px;
  margin-top: 60px;

}


.bouton-rouge{

  display: flex;
  justify-content: space-around;
  margin-bottom: 105px;

}