.covid {
  //max-width: 100%;
  width: 100%;
  background-image: url("/images/desktop/covidpouletroti.png");
  background-size: cover;
  //height: 1405px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .covid-wrap {
    width: $max-width;
    margin-top: 50px;
    //margin:0 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .info-covid {
    //width: $max-width;
    margin: 0 auto;
    padding: 20px;

    border: $jaune solid 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: $fz-p;
    color: $jaune;
    font-weight: $fw-bold;

    div button {
      height: 90px;
      font-size: $fz-h2;
      font-weight: $fw-bold;

    }

  }

  .cartes-covid {
    //width: $max-width;
    display: flex;
    //flex-direction: row;

    justify-content: space-between;
    //align-content: space-between;

    //width:100%;

    .unecarte-covid {
      display: flex;
      flex-direction: column;
      //width: 750px;
    }
    button {
      height: 115px;
      width: 100%;
      background-color: $gris;
      color: $white;
      border: $jaune solid 5px;
      font-size: $fz-h2;
    }

  }

}

@media screen and (max-width: $vw-large) {
  .covid {
    .covid-wrap {
      width: 100%;
      .info-covid {

        width: 80%;
        margin: 0 auto;
        div p {
          font-size: $fz-ptablette;
        }
        //flex-direction: column;

        div button {
          font-size: $fz-h2tablette;
          height: 85px;
        }
      }

      .cartes-covid {

        flex-direction: column;

        .unecarte-covid {
          button {
            font-size: $fz-h2tablette;
            height: 85px;
            vertical-align: center;
          }
        }

      }
    }

  }
  .cartes-covid {
    display: flex;
    flex-direction: column;

  }

}

@media screen and (max-width: $vw-small) {
  .covid {
    .covid-wrap {
      width: 100%;
      .info-covid {
        width: 90%;
        margin: 0 auto;
        div p {
          font-size: $fz-pmobile;
        }
        //flex-direction: column;

        div button {
          font-size: $fz-h2mobile;
          height: 38px;
        }
      }
      .cartes-covid {
        flex-direction: column;
        .unecarte-covid {
          margin: 25px 0;
          button {
            font-size: $fz-h2mobile;
            height: 38px;
          }
        }
      }

    }

  }

}
