//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR


// Dimension maximal
$max-width: 1720px;
$min-width: 600px;

$med-width: 1200px;

// MEDIA QUERIES
$vw-thin: 320px;
$vw-small: 374px;
$vw-medium: 820px;
$vw-large: 1280px;
$vw-huge: $max-width;

//Dimensions pour formulaire
$base-input-height:50px;
$base-input-border-size:0;
$base-input-border-radius:0;
